@import "../../variables.scss";

.architect-button {
  font-weight: 600;
  display: inline-block;
  position: relative;
  border: 1px solid #000000;
  padding: 15px 0px;
  font-size: 0.8rem;
  width: 180px;
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s;

  &.black {
    background-color: black;
    color: $main-color;
    border: 1px solid $main-color;

    &:hover {
      background-color: $main-color;
      color: black;
    }

    &:hover::after,
    &:hover::before {
      border-color: $main-color;
    }
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: 0.5s;
    z-index: 1;
  }

  $after-line-thin: 2px;

  &::after {
    top: -2px;
    left: -2px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
  }

  &::before {
    bottom: -2px;
    right: -3px;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
  }

  &:hover {
    cursor: pointer;
    background-color: black;
    color: $main-color;
    border-color: transparent;
  }

  &:hover::after,
  &:hover::before {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-color: rgb(0, 0, 0);
  }

  @media (max-width: $screen-widht-phase-1-max-width) {
    width: calc(105% + 3px);
    height: calc(105% + 3px);
  }
}
