.menu-button-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 20px;
  color: #000;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.menu-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #f3f3f3;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 34px;
  cursor: pointer;
}

.menu-pages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  height: 100%;
  width: 90%;
  border-bottom: rgba(0, 0, 0, 0.1882352941) 1px solid;
}

.menu-pages-container__page {
  font-size: 18px;
  text-decoration: none;
  color: #000000d4;
}

.menu-buttons-container {
  width: 90%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
}

.menu-buttons-container::-webkit-scrollbar {
  display: none;
}

.actions-container__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 200px;
  padding: 10px;
  margin: 10px 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
}

.menu-item__icon {
  margin-right: 10px;
  font-size: 24px;
  color: #6c63ff;
}
