@import "../../variables.scss";

@font-face {
  font-family: "signature-font";
  src: url(../../assets/font/signature.otf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

.about-company-container {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: black;
  padding: 70px 0px;
  height: 100%;
  width: 100%;
}

@media (max-width: $screen-widht-phase-1-max-width) {
    .about-company-container {
        flex-direction: column;
        height: 100%;
    }
}


.about-company-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: $screen-widht-phase-1-max-width) {
    .about-company-photo-container {
        position: relative;
        display: flex;
    }
}

.about-company-signature-container {
  color: rgb(90, 88, 88);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  font-size: 5rem;
  font-family: signature-font, sans-serif;
}

@media (max-width: $screen-widht-phase-3-max-width) {
    .about-company-signature-container {
        font-size: 4rem;
    }
}

@media (max-width: $screen-widht-phase-1-max-width) {
    .about-company-signature-container {
        text-align: center;
        font-size: 3rem;
    }
}

.about-company-photo-container__img {
  height: 130%;
}

.about-company-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: $screen-widht-phase-1-max-width) {
    .about-company-content-container {
        align-items: center;
        text-align: center;
    }
}

.about-company-content-container__header {
  box-sizing: border-box;
  padding: 0px 40px;
  width: 100%;
  color: $main-color;
  font-size: 2rem;
}

.about-company-content-container__content {
  box-sizing: border-box;
  padding: 40px 40px;
  width: 100%;
  color: $main-color;
  font-size: 1rem;
}

.about-company-content-container__button {
  box-sizing: border-box;
  padding: 0px 40px;
}
