@import "../../variables.scss";

@font-face {
  font-family: "architect-font";
  src: url(../../assets/font/architect-font1.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

.about-projects-container {
  display: flex;
  position: relative;
  justify-content: center;
  color: black;
  padding: 70px 0px;
  min-height: 250px;
  height: 500px;
  width: 100%;
}

@media (max-width: $screen-widht-phase-3-max-width) {
  .about-projects-container {
    padding: 30px 0px;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

.about-projects-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  margin-left: 5%;

  &.header {
    font-family: architect-font, sans-serif;
    justify-content: center;
    font-size: 2.5rem;
  }

  &.content {
    padding: 20px 0;
    line-height: 1.5;
  }

  &.button-container {
    display: flex;
    width: 180px;
  }
}

@media (max-width: $screen-widht-phase-3-max-width) {
  .about-projects-content-container {
    text-align: center;
    margin: 0;
    align-items: center;
    width: 90%;
  }
}

@media (max-width: $screen-widht-phase-1-max-width) {
  .about-projects-content-container {
    &.header {
      font-size: 2rem;
    }
    &.content {
      font-size: $screen-width-phase-1-font-size;
    }
  }
}

.about-projects-scretch-container {
  width: 100%;
}

.about-projects-scretch-container__img {
  top: 0;
  right: 3%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  overflow-x: visible;
  width: 50%;
  opacity: 0.95;
  z-index: -1;
}

@media (max-width: $screen-widht-phase-5-max-width) {
  .about-projects-scretch-container__img {
    width: 30%;
  }
}

@media (max-width: $screen-widht-phase-3-max-width) {
  .about-projects-scretch-container__img {
    padding-bottom: 30px;
    width: 100%;
    position: static;
    overflow-x: hidden;
  }
}
