.about-company-container {
    display:flex;
    justify-content: center;
    color: black;
    padding: 70px 0px;
    min-height: 250px;
    height: 100%;
    width: 100%;
}

.about-company-content-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-company-scretch-container {
    width: 100%;
}

.about-company-scretch-container__img {
    width: 100%;
    opacity: 0.95;
}