@import "~react-image-gallery/styles/scss/image-gallery.scss";

$container-height: 100vh;
$container-width: 100vw;

.gallery-container {
  position: relative;
  background: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $container-width;
  height: $container-height;
  overflow: hidden;
}

.gallery-container_gallery .image-gallery-slide img {
  width: $container-width;
  height: $container-height;
  filter: brightness(40%);
  min-height: $container-height;
  object-fit: cover;
  background-size: cover;
}

.gallery-container__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(#{$container-height} * 0.5);
  width: calc(#{$container-width} * 0.5);
  object-fit: contain;
  pointer-events: none;
}
