@import "../../variables.scss";

.quote-container {
  display: flex;
  justify-content: center;
  padding: 90px 0px;
  background-image: url(../../assets/images/quote-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 150px;
  height: 100%;
  width: 100%;
}

.quote-image-container {
  display: flex;
  align-items: center;
  position: relative;
}

.quote-image-container__quote-img {
  width: 40px;
}

.quote-image-container__quote-img--left {
  justify-content: right;
  position: absolute;
  bottom: -15px;
  right: 10px;
}

.quote-image-container__quote-img--right {
  justify-content: left;
  position: absolute;
  top: -15px;
  left: 10px;
  transform: rotate(180deg);
}

.quotation-container {
  color: #ffffffcf;
  display: flex;
  justify-content: space-around;
  width: 800px;
  flex-direction: column;
}

.quotation-container__sentence {
  width: 100%;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotation-container__author {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
}

@media (max-width: $screen-widht-phase-3-max-width) {
  .quote-container {
    padding: 45px 0px;
  }

  .quotation-container {
    width: 400px;
  }

  .quote-image-container__quote-img {
    width: 30px;
  }
}

@media (max-width: $screen-widht-phase-1-max-width) {
  .quotation-container {
    font-size: $screen-width-phase-1-font-size;
    width: 100%;
  }

  .quotation-container__sentence {
    text-align: center;
  }

  .quote-image-container {
    min-width: 45px;
  }

  .quote-image-container__quote-img {
    width: 25px;
  }
}
