html, 
body, 
#root {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "TitilliumWeb-Light";
  src: url(assets/font/TitilliumWeb-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(241,235,235,255);
  margin: 0;
  font-family: "TitilliumWeb-Light",sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
