$screen-widht-phase-1-max-width: 550px;
$screen-widht-phase-2-max-width: 750px;
$screen-widht-phase-3-max-width: 1000px;
$screen-widht-phase-4-max-width: 1250px;
$screen-widht-phase-5-max-width: 1400px;

$screen-width-phase-1-font-size: 0.8rem;

$navbar-height: 60px;

$main-color: rgba(241,235,235,255);
